@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css); 
@font-face{ 
    font-family:'Nanum Gothic'; 
    font-weight: normal; 
    font-style: normal; 
} 
 
@font-face{ 
    font-family:'Nanum Gothic'; 
    font-weight: bold; 
    font-style: normal; 
}



BODY {margin:0px 0px 0px 0px; font-family:"Arial", "Helvetica"; font-size:14px; color:#666666; line-height:18px;
	scrollbar-face-color: #d9d9d9;
	scrollbar-shadow-color: #ffffff;
	scrollbar-highlight-color: #ffffff;
	scrollbar-3dlight-color: #d9d9d9;
	scrollbar-darkshadow-color: #d9d9d9;
	scrollbar-track-color: #ffffff;
	scrollbar-arrow-color: #8CBAE9;
}

input,form,TEXTAREA ,option,SELECT {font-size: 12pt; line-height: 18pt;color: #505050;font-family:"Arial", "Helvetica", "sans-serif";
	scrollbar-face-color: #d9d9d9;
	scrollbar-shadow-color: #ffffff;
	scrollbar-highlight-color: #ffffff;
	scrollbar-3dlight-color: #d9d9d9;
	scrollbar-darkshadow-color: #B8B6B6;
	scrollbar-track-color: #D7D7D7;
	scrollbar-arrow-color: #8CBAE9;
}

A:active	{font-family:"Arial", "Helvetica"; color:#FF6633; text-decoration:none; font-size:12px;}
A:visited	{font-family:"Arial", "Helvetica"; color:#0000FF; text-decoration:none; font-size:12px;}
A:link		{font-family:"Arial", "Helvetica"; color:#000000; text-decoration:none; font-size:12px;}
A:hover		{font-family:"Arial", "Helvetica"; color:#205392; text-decoration:none; font-size:12px; font-weight: 500;}

a {selector-dummy:expression(this.hideFocus=true);}
.authentication {font-family:"Arial", "Helvetica"; font-size:12px; color:#666666;}

A:active	{font-family:"Arial", "Helvetica"; color:#595858; text-decoration:none; font-size:12px;}
A:visited	{font-family:"Arial", "Helvetica"; color:#595858; text-decoration:none; font-size:12px;}
A:link		{font-family:"Arial", "Helvetica"; color:#595858; text-decoration:none; font-size:12px;}
A:hover		{font-family:"Arial", "Helvetica"; color:#205392; text-decoration:none; font-size:12px; font-weight: 500;}

A:active.b {font-family:"Arial", "Helvetica"; color:#317971; text-decoration:none; font-size:12px;}
A:visited.b	{font-family:"Arial", "Helvetica"; color:#031DBF; text-decoration:none; font-size:12px;}
A:link.b	{font-family:"Arial", "Helvetica"; color:#031DBF; text-decoration:none; font-size:12px;}
A:hover.b	{font-family:"Arial", "Helvetica"; color:#205392; text-decoration:none; font-size:12px; font-weight: 500;}


tr		{font-family:"Arial", "Helvetica"; FONT-SIZE: 12px;color:#666666; line-height: 16pt;}
td		{font-family:"Arial", "Helvetica"; FONT-SIZE: 12px;color:#666666; line-height: 16pt;}
.td 	    	{FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; FONT-SIZE: 12px; color:#ffffff;; line-height: normal; font-style: normal}
img       	{border:0;}
div             {FONT-FAMILY: 굴림, 돋음, Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 12px;color:#ffffff;}
li 	        { text-align:justify; font-family:돋움, Verdana, Arial, Helvetica, sans-serif; color:#6E6E6E;line-height:16px; FONT-SIZE: 12px}

#apDiv1 {
	position:absolute;
	left:750px;
	top:76px;
	width:41px;
	height:41px;
	z-index:1;
}

#apDiv2 {
	position:absolute;
	width:740px;
	height:56px;
	z-index:1;
}

#certification {
	position:relative;
	float:left;
	height:100px;
	width:300px;
}

#product_banner {
	position:relative;
	float:left;
	height:100px;
	width:310px;
}

.selectBoxSelectedAreaGlobal {
	color:#626262;
	font-size:12px;
	font-family:"Arial", "Helvetica", "Verdana", "sans-serif";
	font-weight:normal;
	background-color:#f5f5f5;
	padding-top:2px;
	line-height:17px;
	padding-left:5px;
}
.selectBoxSelectedAreaFocusGlobal {
	color:#626262;
	font-size:12px;
	font-weight:normal;
	font-family:"Arial", "Helvetica", "Verdana", "sans-serif";
	background-color:#f5f5f5;
	padding-top:2px;
	line-height:17px;
	padding-left:5px;
}
.selectBoxOptionGlobal {
	color:#626262;
	font-size:12px;
	font-family:"Arial", "Helvetica", "Verdana", "sans-serif";
	font-weight:normal;
	background-color:#f5f5f5;
	padding-top:2px;
	line-height:17px;
	padding-left:5px;
}
.selectBoxOptionOverGlobal {
	color:#626262;
	font-size:12px;
	font-family:"Arial", "Helvetica", "Verdana", "sans-serif";
	font-weight:normal;
	background-color:#e6e6e6;
	padding-top:2px;
	line-height:17px;
	padding-left:5px;
}
.selectBoxOptionInnerLayer {
	overflow:auto;
	background-color:#f5f5f5;
	scrollbar-face-color:#F3F3F3;
	scrollbar-shadow-color:#6C6C6C;
	scrollbar-highlight-color:#FFFFFF;
	scrollbar-3dlight-color:#C9C9C9;
	scrollbar-darkshadow-color:#FFFFFF;
	scrollbar-track-color:#F3F3F3;
	scrollbar-arrow-color:#000000;
}

#rBanner, #rBanner_st {
	width:55px;
	height:306px;
	position:absolute;
	z-index:1;
}

.main_product_banner_01 {FONT-FAMILY: 돋음, Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 11px;color:#666666; letter-spacing:-1px;}
.main_product_banner_02 {FONT-FAMILY: "sans-serif", "Arial", ; FONT-SIZE: 10px;color:#333333; line-height:12px;}
.main_product_banner_03 {FONT-FAMILY: "Nanum Barun Gothic", "나눔바른고딕", "Malgun Gothic", "맑은고딕", "돋움", "Dotum", "gothambold1", "GothamLight", "sans-serif"; font-size: 15px; color: #355c7a; font-weight:bold; line-height: 18pt;}
.main_product_banner_04 {FONT-FAMILY: "sans-serif", "Arial", ; FONT-SIZE: 10px;color:#cc6600; line-height:12px;}



.sub_tree_01 {FONT-FAMILY: 돋음, Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 12px;color:#595858;}
.notice_subject {FONT-FAMILY: 굴림, Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 12px; font-weight:bold; color:666666; word-spacing:-1px;}
.notice_text_box {font-size:9pt;color: #999999;border-top: 1px solid #cccccc;border-right: 1px solid #cccccc;border-bottom: 1px solid #cccccc;border-left: 1px solid #cccccc;height: 20px;}
.notice_textarea_box {font-size:9pt;color: #999999;border-top: 1px solid #cccccc; border-right: 1px solid #cccccc;border-bottom: 1px solid #cccccc;border-left: 1px solid #cccccc;height: 240px;}
.product_text_01 {FONT-FAMILY: 굴림, Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 13px; font-weight:bold; color:333333; word-spacing:-1px;}
.product_text_02 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px; color:#004477; word-spacing:-1px;}
.product_text_03 {FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 11px; color:333333; word-spacing:-1px;}
.product_text_04 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color:666666; word-spacing:-1px;}
.product_text_05 {font-family: 돋움, Verdana, Arial, Helvetica, sans-serif; font-size: 13px; color:666666; word-spacing:-1px;}
.product_text_06 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color:43698f; word-spacing:-1px; font-weight:bold;}
.vulnerability_text_01 {FONT-FAMILY: 굴림, Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 14px; font-weight:bold; color:cc3300; word-spacing:-1px; text-decoration:underline;}

input { 
        margin:-1px 0
}
input.LoginBox, input.onLoginBox, input.offLoginBox {
        width:120px;
        height:24px;
        font: 13px 돋움;
        color:#333333;
        padding:4px 5px;
}
/* 박스 스타일 */
input.LoginBox, input.offLoginBox {
        border:1px solid #098aa5;
}
input.onLoginBox {
        border:2px solid #098aa5;
}

input { 
        margin:-1px 0
}
input.SendmailBox, input.onSendmailBox, input.offSendmailBox {
        height:22px;
        font: 13px 돋움;
        color:#333333;
        padding:5px 4px;
}
/* 박스 스타일 */
input.SendmailBox, input.offSendmailBox {
        border:1px solid #cccccc;
}
input.onSendmailBox {
        border:2px solid #ff6c00;
}

/* floating banner 01 */

#floatdiv {
 position:fixed; _position:absolute; _z-index:-1;
 overflow:hidden;
 right:400px;
 top:220px;
 background-color: transparent;
 margin:auto;
 }
#floatdiv ul {list-style:none;}
#floatdiv li {margin-bottom:2px; text-align:center;}
#floatdiv a {color:#5d5d5d; border:0; text-decoration: none; display: block;}
#floatdiv a:hover, #floatdiv .menu {background-color: #5d5d5d; color: #fff;}
#floatdiv .menu, #floatdiv .last {margin-bottom: 500px;}
#floatdiv img{ display:block; }

/* floating banner 02 */

.fixed-top
{position:fixed;bottom:auto; top:290px;margin-left:-5px;}

* html .fixed-top
{position:absolute;bottom:auto;top:expression(eval(document.documentElement.scrollTop+50));}



/* 20190115 홍보디자인팀 수정 */
.sub_ceo_title {FONT-FAMILY: 돋음, Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 16px; color:#595858; line-height:26px; font-weight: 600; color: #FFBB00; word-spacing: -2px;}
.sub_his_t01 {FONT-FAMILY: 돋음, Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 14px; color:#595858; line-height:26px; font-weight: 600; color: #FFBB00; word-spacing: -2px; padding-left:15px; padding-bottom:5px;}

.s_table_title {FONT-FAMILY: 돋음, Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 14px; color:#ffffff; line-height:26px; font-weight: 600; word-spacing: -2px;}
